.container {
    padding: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #faf3f0;
}

.imgContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.table {
    width: 100%;
    border-spacing: 20px;
}

.name {
    font-weight: 500;
    color: #582f25; 
    font-size: 18px;
}

.total {
    font-weight: 500;
    font-size: 18px;
}

.wrapper {
    width: 30%;
    max-height: 300px;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

.userForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 50px;
    justify-content: space-between;
}

.formItem {
    margin: 0px 20px 20px 10px;
}

.totalTextTitle {
    margin-right: 10px;
}

.button {
    height: 30px;
    width: 200px;
    background-color: #faf3f0;
    color: #582f25;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.table{
    background-color: #f2e0d9;
}

.emptyCart {
    width: 100wv;
    height: 600px;
    background-color: #f2e0d9;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.emptyFinz {
    width: 100wv;
    height: 600px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal {
  padding: 300px;
  margin-bottom: 100px;
  text-align: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalheader {
  padding: 2px 16px;
  background-color: #582f25;
  color: white;
}

.modalbody {padding: 2px 16px;}

.modalfooter {
  padding: 16px 16px;
  background-color: #582f25;
  color: white;
}

.modalcontent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animateup {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}